@import "common/components/buttons";

.poll-banner-connector {
  position: fixed;
  z-index: 400;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--secondary);
  max-height: 0;
  opacity: 0;
  transition: all 0.25s;
  text-align: center;

  &.visible-poll {
    display: block;
    opacity: 1;
    max-height: 350px;
  }
}

.poll-banner-content {
  box-shadow: var(--shadow-card);
  padding: 1.5em 1em;
  position: relative;

  > p:first-of-type {
    margin-top: 0;
  }

  .btn-flat {
    position: absolute;
    right: 5px;
    top: 5px;
    flex-direction: row-reverse;

    .d-icon {
      margin-right: 0;
      margin-left: 0.3em;
      color: var(--primary-high);
    }

    .d-button-label {
      color: var(--primary-low-mid);
      transition: color 0.15s;
    }

    &:hover,
    &:focus {
      background: var(--primary-low);

      .d-button-label {
        color: var(--primary-high);
      }
    }
  }

  .poll-banner-key {
    font-size: var(--font-down-1);
    margin-top: 0.5em;
    color: var(--primary-medium);
  }

  div.poll {
    border: none;
    margin: 0;

    .poll-container {
      display: block;
      border: none;
      text-align: center;
      width: 100%;
      padding: 0;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    .poll-info {
      display: none;
    }

    .poll-title {
      padding: 0;
      margin-bottom: 0;
      border: none;
    }

    &[data-poll-type="number"] li[data-poll-option-id] {
      width: unset;
      min-width: 2.5em;
      cursor: pointer;

      @include btn;

      // btn overrides
      // stylelint-disable-next-line no-duplicate-selectors
      & {
        border-radius: 100%;
        padding: 0.6em 0;
        font-size: var(--font-0);
        margin: 0.5em 0.5em 0;
      }

      &.selected-vote,
      &.selected-vote:hover {
        background: var(--success);
        color: var(--secondary);
        border-color: var(--success);
      }
    }

    ul {
      padding-top: 0.5em;
    }
  }

  .poll-banner-custom-text {
    font-size: var(--font-up-1);
    text-align: center;
    padding: 0 1em 0.25em 1em;
  }
}
