<div class="poll-banner-content">
  {{html-safe cooked}}
  {{d-button class="btn-flat" action=(action "closePoll") icon="times" label="share.close"}}
  <div class="poll-banner-key">{{theme-setting "poll_key" }}</div>
</div>
